<% layout("/layouts/boilerplate.ejs") %>
<style>
  .admin-option{
    display: none;
  }
  .filter-div{
        display: none;
    }
</style>
<div class="col-8 offset-3 mb-3">
    <%if(userBookings.length>0){%>
      <br><br>
      <h3><b>Application Status</b></h3>
      <div class="row">
        <% for(application of userBookings) {%>
          <div class="card col-5 ms-3 mb-3 application-div">
            <div class="card-body">
              <h5 class="card-title">
               <b>Applied for: </b> <%=application.Listing.title%>
              </h5>
              <p class="card-text">
               <b>Booking Status: </b> <%=application.status%>
              </p>
            </div>
          </div>
          <% } %>
      </div>
    <%}%>
    
  </div>