<% layout("/layouts/boilerplate") %>
<style>
    .admin-option{
        display: none !important;
    }
    .filter-div{
     display: none;
    }
</style>
<br>
        <div class="hero-img container-xxl py-5">
            <form class="d-flex search-bar" action="/get" method="get" role="search">
                <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
        </div>
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <h6 class="section-title text-start text-warning text-uppercase">About Us</h6>
                        <h1 class="mb-4">Welcome to <span class="text-warning text-uppercase">Hostel Finder</span></h1>
                        <p class="mb-4">A simple aplication to find hostels with ease</p>
                        <div class="row g-3 pb-4">
                            <div class="col-sm-4">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-hotel fa-2x text-warning mb-2"></i>
                                        <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                        <p class="mb-0">Rooms</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-users-cog fa-2x text-warning mb-2"></i>
                                        <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                        <p class="mb-0">Staffs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-users fa-2x text-warning mb-2"></i>
                                        <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                        <p class="mb-0">Clients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75"
                                    src="img/about-1.webp" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100"
                                    src="img/about-2.webp">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-50"
                                    src="img/about-3.webp">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75"
                                    src="img/about-4.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Team Start -->
        <div class="container-xxl py-5">
            <div class="container ">
                <div class="text-center">
                    <h6 class="section-title text-center text-warning text-uppercase">Our Team</h6>
                    <h1 class="mb-5">Explore Our <span class="text-warning text-uppercase">Staffs</span></h1>
                </div>
                <div class="row g-4 d-flex justify-content-between">
                    <div class="col-lg-3 col-md-6">
                        <div class="rounded shadow overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid team-img" src="img/Harsh_pic.png" alt="">
                                <div
                                    class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <a class="btn btn-square btn-warning mx-1" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-warning mx-1" href="https://www.linkedin.com/in/harsh-singh-4a263328b/"><i
                                            class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-warning mx-1" href="https://www.instagram.com/harsh0_0singh/"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Full Name : Harsh Singh</h5>
                                <small>Designation: Backend developer</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="rounded shadow overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid team-img" src="img/Ajay.jpg" alt="">
                                <div
                                    class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <a class="btn btn-square btn-warning mx-1" href="https://www.facebook.com/people/Ajay-Kumar/pfbid02YLS2fnX1CTL2WmA34ipWJVV1KtHDPJBtsg49DqZVzvcZK3BSrJCKM2k3nu5ge5rtl/?rdid=IyCp7UQ2FSlfeO0L&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F18aWHLYXAR%2F"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-warning mx-1" href="https://www.linkedin.com/in/ajaykr450/"><i
                                            class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-warning mx-1" href="https://www.instagram.com/mr.ajay_kr._/"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Full Name : Ajay Kumar</h5>
                                <small>Designation : Web designer</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="rounded shadow overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid team-img" src="img/Ram.jpg" alt="">
                                <div
                                    class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <a class="btn btn-square btn-warning mx-1" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-warning mx-1" href="https://www.linkedin.com/in/ramsingh-kushwaha-4b2077330/"><i
                                            class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-warning mx-1" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Full Name : Ramsingh Kushwaha</h5>
                                <small>Designation : Frontend developer</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
             